# this is .env example for the mailersend service use
# changing the values for valid ones is necessary

MAILERSEND_API_TOKEN=mlsn_xxxxxxxxxxxxxxxxxxxxxxxxx
MAIL_FROM_EMAIL=noreply@pneunet.ai
MAIL_FROM_NAME=PneuNet